<IfModule mod_rewrite.c>
SetEnvIf Host "^academic.ellpedia.com$" host
order deny,allow
deny from all
allow from env=host
Options +FollowSymLinks
RewriteEngine on
RewriteBase /
RewriteCond %{HTTPS} off
RewriteRule ^(.*)$ https://academic.ellpedia.com/$1 [R=301,L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.*)$ /index.cgi/$1 [QSA,L]
ModPagespeed On